name: Azure Publish

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.SPACETIMESERVER_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: SpaceTime-Server/Dockerfile
          registryUrl: docker.io
          registryUsername: ${{ secrets.SPACETIMESERVER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SPACETIMESERVER_REGISTRY_PASSWORD }}
          containerAppName: spacetime-server
          resourceGroup: SpaceTime-Server
          imageToBuild: spacetimee/spacetime-server:${{ github.sha }}